.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu-heading {
  color: rgb(224, 224, 224);
}

.pure-menu-link {
  color: rgb(224, 224, 224);
}

.heading {
  background: rgb(0, 75, 150);
  color: rgb(224, 224, 244);
}

h1 {
  width: 80%;
  height: 10%;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(10, 90, 140);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: auto;
  border: 1px solid white;

}

.reference {
    background: rgb(45, 140, 210);
    width: 65%;
    height: 45%;
    margin: auto;
    position: relative;
    top: 15px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid white;
    padding: 1em 1.6em;
    border-radius: 10px;
    line-height: 2em;
}

.doing-action {
  background: rgb(45, 140, 210);
  width: 65%;
  height: 25%;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid white;
  padding: 1em 1.6em;
  border-radius: 10px;
  line-height: 2em;

}

.pure-button-primary {
   background: white;
   font-family: 'Noto Sans', sans-serif;
   font-weight: bold;
   color: rgb(45, 140, 210);
   padding: 1px 2em;
   border-radius: 5px;
   font-size: 120%;
}
