<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>


    <title>About</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>


  <body>
    <div class="pure-menu pure-menu-horizontal heading">
      <a href="/" class="pure-menu-heading">IceBreaker</a>
        </a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/univTimer" class="pure-menu-link">Current Countdown</a></li>
        </ul>
    </div>

     <section>
       <ul class="carousel">
         <li class="items main-pos aboot" id="1">
           <p id="about">About Us</p>
           </li>
         <li class="items right-pos summary" id="2">
           <p id="ice">IceBreaker was created for students by students. We understand the hardship of students everywhere and aim to help in their time of need.</p>
         </li>
         <li class="items back-pos jenna" id="3">
           <h1>Jenna Barton</h2>
             <p> Jenna is a rising freshman in the Jerome Fisher Program in Management and Technology at Wharton and the University of Pennsylvania.
               She'll be studying computer engineering and economics with a concentration in entrepreneurship and innovation.
               Jenna is from Bernardsville, New Jersey and loves to stay active and be outdoors especially if it involves running, hiking, or kayaking.
             </p>
         </li>
         <li class="items back-pos cass" id="4">
            <h1>Cassandra Ung</h1>
            <p> Cassandra is a rising freshman at the University of Texas at Austin studying electrical and computer engineering.
            Cassandra is from Houston, Texas and enjoys film making, basketball, singing, and reading. She also loves trying out new things.
            Her favorite movie director is Wes Anderson, her favorite bands are "The Head and the Heart" and "The National", and her
            favorite authors are F. Scott Fitzgerald and Agatha Christie.</p>
           </li>
         <li class="items left-pos chris" id="5">
           <h1>Chris Nguyen</h1>
           <p>Chris is a rising freshman at the University of California Santa Barbara double majoring in statistical science and computer science.
             She is a traveler, born in Missouri, lived on the east cost, and finally living in Garden Grove, California.
            Though often boring, Chris likes a variety of things from the health benefit of potatoes, to bboying, volleyball, EDM, and video games.</p>
         </li>

       </ul>
     <span>
       <input type="button" value="Prev" id="prev" class="pure-button pure-button-primary">
       <input type="button" value="Next" id="next"class="pure-button pure-button-primary">
     </span>
     </section>

     <script type="text/javascript" src="static/js/about.js"></script>

  </body>
</html>
