<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>


    <title>About</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>


  <body>

    <div class="pure-menu pure-menu-horizontal heading">
        <a href="/" class="pure-menu-heading">IceBreaker</a>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/univTimer" class="pure-menu-link">Current Countdown</a></li>
        </ul>
    </div>
<br>
<br>
     <h1>About the Creators</h1>

     <h2>Jenna Barton</h2>
      <p> Jenna is a rising freshman in the Jerome Fisher Program in Management and Technology at Wharton and the University of Pennsylvania.
        She'll be studying computer engineering and economics with a concentration in entrepreneurship and innovation.
      </p>
      
      <h2>Chris Nguyen</h2>
      <p>
        ***add something about yourself
      </p>

     <h2>Cassandra Ung</h2>
      <p>
        ***add something about yourself
      </p>






  </body>
</html>
