<!-- this is the file for the html code for the activities page-->

<!DOCTYPE html>
<html>
  <head>
    <title> Activities </title>
  </head>
  <body>
    <h1> Break the Ice </h1>
    <form method="post">
      <p> You have {{break}} minute(s) of break. </p>
      <h2> Your challenge: </h2>
      <p> {{activity}} </p>

    </form>

    <form action="/timer" method="get">
      <button name="continue" type="submit" value="{{break}}">continue</button>
    </form>

    <form action="/break" method="post">
      <button type="submit" value="{{break}}" name="break">reshuffle</button>
    </form>
  </body>
</html>
