<!-- this is the file for the html code for the activities page-->

<!DOCTYPE html>
<html>
  <head>
    <title> Activities </title>
  </head>
  <body>
    <h1> Break the Ice </h1>
    <form type = "post">
      <p> You have {{break}} minute(s) of break. </p>
      <h2> Your challenge: </h2>
      <p> {{activity}} </p>
      <button name="continue" type="submit" value="HTML"> continue </button>
      <button name="reshuffle" type="submit" value="HTML"> reshuffle </button>
    </form>
  </body>
</html>
