<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/break-continue.css">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

    <title>Break!</title>
  </head>
  <body>

    <div class="container">
        <div class="case-page">
            <h1 class="head">Break!</h1>
            <h2>Time to Move On!</h2>
            <p>
                <a href="/activity" class="pure-button pure-button-primary">Continue</a>
            </p>
        </div>
    </div>

  </body>
</html>
