<!DOCTYPE html>
<html>
  <head>
    <title>Clock</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body onload="endTime({{breakTime}})">
    <br>


    <br>
    <br>
    You want to break for {{breakTime}} minutes

    <br>
    <br>

    Start Time<div id='startTime'></div>
    End Time<div id='endTime'></div>
    <br>
    <br>
    Current Time<div id='clock'></div>



    <br>
    <br>
    Time Remaining<div id='timer'></div>

    <!-- <form action="/break" method="get">
      <button name="continue" type="submit">break</button>
    </form> -->

    <!-- <form method="post">
      <br>
      <iframe width="420" height="345" src="{{url}}"></iframe> -->
      <script type="text/javascript" src="static/js/breaktimer.js"></script>
  </form>
  </body>
</html>

<!-- src="http://www.youtube.com/embed/{{id}} -->
