<!DOCTYPE html>
<html>
  <head>
    <title>Clock</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  </head>
  <body onload="endTime({{studyTime}})">
    <br>

    How long? <input type="text" id="timeInterval"> minutes<br>
    <input type='button' value='Enter' id="enterButton" />

    <br>
    <br>
    You want to study for {{studyTime}}
    <!-- <div id="timeInterval" value={{studyTime}}> -->
    <input type='button' value='Enter' id="enterButton" />

    <br>
    <br>

    Start Time<div id='startTime'></div>
    End Time<div id='endTime'></div>
    <br>
    <br>
    Current Time<div id='clock'></div>



    <br>
    <br>
    Time Remaining<div id='timer'></div>





    <script type="text/javascript" src="static/js/timer.js"></script>
  </body>
</html>











<!-- <input type='button' value='Enter' id="enterButton" /> -->
<!-- <form action="/break" method="post">
  <button type="submit" value="{{break}}" name="enter"> enter</button>
</form> -->
