<!DOCTYPE html>
<html>
  <head>
    <title>Clock Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  </head>
  <body >
    This is a test to see how the clock function works in JavaScript
    <br>
    <br>

    How long? <input type="text" id="timeInterval"> minutes<br>
    <input type='button' value='Enter' id="enterButton" />



    <br>
    <br>

    Start Time<div id='startTime'></div>
    End Time<div id='endTime'></div>





    <script type="text/javascript" src="static/js/timer.js"></script>
  </body>
</html>





<!-- <form method="get" action = "/timer">
  How long? <input type="text" name="timeInterval"> minutes<br>
  <button id="enterButton">Enter</button>
</form> -->

<!-- this is the form attempt - not working

<form method="get" action = "/timer">
  How long? <input type="text" name="timeInterval"> minutes<br>
  comment here: <input type="submit" action = "startTime()">
  comment here: <input type="submit">
  <button onclick="endTime()">Enter</button>
</form> -->




<!-- this is the textbox attempt - not working
Your break time: <label id="yourTime"></label><br>
Time for your break: <input type="timeInterval"></input>
<button id = "enterTime">Enter</button> -->


<!-- second button and textbox attempt - not working
Enter your text here:
<input type="text">
<button id="enterButton">Enter</button> -->
