<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/video.css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

    <title>Video Page</title>
  </head>
  <body>

    <div class="pure-menu pure-menu-horizontal heading">
      <a href="/" class="pure-menu-heading">IceBreaker</a>
        </a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/univTimer" class="pure-menu-link">Current Countdown</a></li>
        </ul>
    </div>



    <h1>You are {{status}} for {{duration}} {{time}}.</h1>

    <div class="mid">
       <iframe id="video" width="610" height="415"
         src="{{url}}">
       </iframe>

  <br>

       <form action="/study" method="post">
         <button name="continue" type="submit" class="pure-button pure-button-primary">Continue Studying</button>
       </form>
    </div>

  </body>
</html>
